body {
  background-color: #F6F6F6;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #737373;
  padding-bottom: 40px;
  padding-top: 30px;
}

a {
   outline: 0;
}

li:active {
   outline: 0;
}

li:focus {
   outline: 0;
}

input::-moz-focus-inner {
  border: 0;
}

button::-moz-focus-inner {
  border: 0;
}

:active {
  outline: none;
}
:focus {
  -moz-outline-style: none;
}

ul li a {
    outline: 0;
}

.disabled {
  disable;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.loginForm{
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  max-width: 300px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  margin-bottom: 20px;
}

#form-container {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  margin: auto;
  margin-top: 25px;
  padding: 5px;
}

#result-container {
  margin: auto;
  margin-top: 15px;
}

#data-container {
  background-color: #FFFFFF;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

#legend {
  margin-left: 15px;
  margin-right: 15px;
}


.nav {
  margin-bottom: 0px;
}



body {
  padding-top: 40px;
  padding-bottom: 20px;
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #F3F3F3;
}
.accordion-inner,.accordion-group,.accordion-heading {
    border: none;
}
a:hover{
    text-decoration: none;
}
#contentTab {
  margin-left: 20px;
}








/* Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
    margin: 0;
    padding: 0;
}
.graph-wrapper {
  margin-left: 10px;
}
/* Gradinet and Rounded Corners */
.graph-container, #tooltip, .graph-info a {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Graph Container */
.graph-container {
    position: relative;
    width: 750px;
    height: 300px;
    padding: 20px;

    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.2);
    box-shadow: 0px 0px 2px rgba(0,0,0,.2);
}

.graph-container > div {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 10px;
    left: 25px;
}

.graph-info {
    width: 790px;
    margin-bottom: 10px;
}
.graph-info a {
    position: relative;
    display: inline-block;
    float: left;
    height: 20px;
    padding: 7px 10px 5px 30px;
    margin-right: 10px;
    text-decoration: none;
    cursor: default;
}

/* Color Circles */
.graph-info a:before {
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    top: 13px;
    left: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.graph-info .visitors { border-bottom: 5px solid #77B7C5; }
.graph-info .returning { border-bottom: 5px solid #71C73E; }

.graph-info .visitors:before { background: #77B7C5; }
.graph-info .returning:before { background: #71C73E; }

/* Lines & Bars Buttons */
#lines, #bars {
    width: 34px;
    height: 32px;
    padding: 0;
    margin-right: 0;
    margin-left: 10px;
    border-bottom: 5px solid #71c73e;
    /*float: right;*/
    cursor: pointer;
}

#lines.active, #bars.active {
    background: #82d344;
    background: -moz-linear-gradient(top, #82d344 0%, #71c73e 100%);
    background: -webkit-linear-gradient(top, #82d344 0%,#71c73e 100%);
    background: -o-linear-gradient(top, #82d344 0%,#71c73e 100%);
    background: -ms-linear-gradient(top, #82d344 0%,#71c73e 100%);
    background: linear-gradient(to bottom, #82d344 0%,#71c73e 100%);
}

#lines span, #bars span {
    display: block;
    width: 34px;
    height: 32px;
    background: url('../img/lines.png') no-repeat 8px 10px;
}

#bars span { background: url('../img/bars.png') no-repeat center 10px; }

#lines.active span { background-image: url('../img/lines_active.png'); }

#bars.active span { background-image: url('../img/bars_active.png'); }
/* Clear Floats */
.graph-info:before, .graph-info:after,
.graph-container:before, .graph-container:after {
    content: '';
    display: block;
    clear: both;
}

#tooltip, .graph-info a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #646464;
}

.tickLabel {
    font-weight: bold;
    font-size: 10px;
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.yAxis .tickLabel:first-child,
.yAxis .tickLabel:last-child { display: none; }


#tooltip {
    position: absolute;
    display: none;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
}

#placeholder table {
    width: auto;
}

.tdLeftHead {
  background-color: #D8EDF8;
  /*width: 200px;*/
}

/*table {
  width:100%;
  overflow:scroll;
}*/

.overflowDiv {
    overflow:scroll;
}

#table-paginated {
  margin-left:132px;
}




