.btn-group
{

	margin-left: 15%;
}

.blank
{
		margin-top: 10%;
		
		
}
.dropdown_container
{
	margin-top: 5%;
	margin-left: 15%;
	width: 150px;
    float:left;
   
 
}
#radio_container
{
	margin-left: 38%;
	width: 250px;    
	
}
#btn_container
{
	margin-top: 20%;
	margin-left: 40%;
	width: 250px;    
	
}
#notice_container
{
	margin-left: 40%;
	width: 750px;
}
#notice_container2
{
	margin-top: 30%;
	margin-left: 30%;
	width: 750px;
}
#texto_end
{
	display:none;
}
#container_loading
{
	margin-top: -7%;
	margin-left: 38%;
	z-index: 10;
	background: #E6E6E6;
	opacity:0.8;
	float:left;
   
}
#texto
{
	display:none
	float: left;
}
.tags_error
{
	 background-color: red;
}
.radio_subcontainer
{
	padding-left: 25%;
}
